<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>



    <body>
        <%- include('./partials/nav.ejs') %>
            <div class="content">
                <h3>About us</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum voluptatum, ullam dolorum optio
                    nesciunt qui aperiam pariatur placeat voluptatibus tenetur repellat. Amet sit totam error natus esse
                    aliquid iusto ipsa?</p>
            </div>

            <%- include('./partials/footer.ejs') %>
    </body>

</html>