<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
            <div class="form-content">
                <form class="form" action="/blogs" method="POST">
                    <label>
                        Author:
                    </label>
                    <input type="text" name="author" id="author" required />
                    <label>
                        Title:
                    </label>
                    <input type="text" name="title" id="title" required />
                    <label>
                        snippet:
                    </label>
                    <input type="text" name="snippet" id="snippet" required />
                    <label>
                        body:
                    </label>
                    <textarea name="body" id="body" required>
        </textarea>
                    <button type="submit">Submit</button>
                </form>
            </div>

            <%- include('./partials/footer.ejs') %>

    </body>

</html>